
<main>
  <header>
    <h2 id="title">People</h2>
  </header>
  <section class="peoples">
    {{outlet}}
  </section>
  
  
  
  
</main>
<footer>
  Click on a Person to see their birthday.
</footer>


