<ul class ="filters">
  <li class="filter">
    <a href="all">All</a>
  </li>
  <li class="filter">
    <a href="active">Active</a>
  </li>
  <li class="filter">
    <a href="deleted">Deleted</a>
  </li>
</ul>

<ul class="people-list">
  <li class="person">
    <h3>Emmanuel</h3>
    <p>
      Birthday
    </p>
  </li>
  
  <li class="person">
    <h3>John</h3>
    <p>
      Birthday
    </p>
  </li>
  
  <li class="person">
    <h3>Bill</h3>
    <p>
      Birthday
    </p>
  </li>
  
  <li class="person">
    <h3>Ryan</h3>
    <p>
      Birthday
    </p>
  </li>
  
  <li class="person">
    <h3>Joey</h3>
    <p>
      Birthday
    </p>
  </li>
  
  
</ul>