<ul class ="filters">
  <li class="filter">
    <a href="all">All</a>
  </li>
  <li class="filter">
    <a href="active">Active</a>
  </li>
  <li class="filter">
    <a href="deleted">Deleted</a>
  </li>
</ul>
<form {{action "createPerson" on="submit"}}>
{{input type="text" id="newName" placeholder="Person's Name" 
    value=newPersonName }}
{{input type="date" id="newDOB" value=newPersonDOB }}
<button type="submit" >Add Person</button>
</form>
    

<ul class="people-list">
  {{#each person in model}}
    {{person-info saveEdit="saveEdit" deletePerson="deletePerson" person=person}}
  {{/each}}
  
</ul>